.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.texto {
  margin-bottom: 20px;
  text-align: justify;
}

.botoes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.botao {
  flex: 1 1 200px; /* todos terão pelo menos 200px de largura */
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.botao:hover {
  background-color: #005bb5;
  transform: scale(1.05); 
}

