.cirurgia-geral-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.cirurgia-geral-titulo {
  font-weight: bold;
  text-align: center;
  color: var(--text-color-secondary);
  margin-bottom: 30px;
  border-bottom: 3px solid var(--text-color-secondary);
  padding-bottom: 10px;
}

.cirurgia-geral-texto {
  text-align: justify;
  font-size: 1rem;
  color: #333;
}

.cirurgia-geral-bloco {
  background: #f8f8f8;
  border-radius: 6px;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 15px;
  display: flex;
}

.cirurgia-geral-bloco h3 {
  font-size: 1.3rem;
  color: #3b3b3b;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.cirurgia-geral-fluxo-img,
.cirurgia-geral-pactuacao-img {
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  max-width: 100%;
  height: auto;
}
