.ortopedia-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.ortopedia-titulo {
  font-weight: bold;
  text-align: center;
  color: var(--text-color-secondary);
  margin-bottom: 30px;
  border-bottom: 3px solid var(--text-color-secondary);
  padding-bottom: 10px;
}

.ortopedia-subtitulo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #3b3b3b;
  margin: 20px 0;
  border-left: 6px solid var(--text-color-secondary);
  padding-left: 12px;
}

.ortopedia-texto {
  text-align: justify;
  font-size: 1rem;
  color: #333;
}

.ortopedia-bloco {
  background: #f8f8f8;
  border-radius: 6px;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 15px;
  display: flex;
}

.ortopedia-bloco h3 {
  font-size: 1.3rem;
  color: #3b3b3b;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.ortopedia-botoes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.ortopedia-botao {
  flex: 1 1 200px;
  text-align: center;
  background-color: var(--text-color-secondary);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.ortopedia-botao:hover {
  background-color: #005bb5;
  transform: scale(1.02);
}

.ortopedia-botao-ativo {
  background-color: #005bb5;
  color: #fff;
  border: 2px solid #003f7f;
}

.ortopedia-fluxo-img,
.ortopedia-pactuacao-img {
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  max-width: 100%;
  height: auto;
}
