.layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout-body{
    flex: 1;
    display: flex;
}

.layout-sidebar{
    width: 220px;
    background-color: #1E1E2F;
    color: #fff;
    padding: 20px;
}

.layout-content {
    background:var(--background-color); /* ou outra cor clara */
    flex: 1;
    padding: 20px;
}

@media (max-width: 768px) {
  .layout-body {
    display: block; /* não força flex quando Sidebar é overlay */
  }
}