.header {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    min-height: 60px;
}

.logoHeader {
    margin-left: 20px;
    height: 40px;
    width: auto;
    transition: transform 0.2s ease;
}

@media (max-width:480px) {
    .header {
        min-height: 45px;
    }
    .logoHeader {
        height: 20px;
    }
}

@media (max-width:768px) {
    .header {
        min-height: 50px;
    }
    .logoHeader {
        height: 25px;
    }
}

@media (max-height:1366px) {
    .header {
        min-height: 55px;
    }
    .logoHeader {
        height: 25px;
    }
}

@media (min-width:1440px) {
    .header {
        min-height: 65px;
    } 
    .logoHeader {
        height: 35px;
    }
}
